# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
venv/
.venv/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
MANIFEST

# Testing & type checking
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
.tox/
nosetests.xml
coverage.xml

# Environment variables
.env
env/

# macOS
.DS_Store

# IDE settings
.vscode/

# Airflow runtime logs
platform/airflow/docker/platform/airflow/logs/

# DuckDB
*.duckdb
*.duckdb.wal
.duckdb

# DBT build artifacts
target/
dbt_packages/
logs/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
.history/

# Misc
*.logspark-3.5.0-bin-hadoop3.tgz
spark-*/
*.tgz
