kafka-python
requests
pytz
minio
duckdb
pandas
apache-airflow-providers-apache-spark==4.0.0
pyspark==3.5.0
py4j==0.10.9.7
python-dotenv==1.0.0
duckdb==1.0.0
duckdb-engine==0.17.0
dbt-core==1.10.13
dbt-duckdb==1.9.6
dbt-adapters==1.17.0
dbt-common==1.32.0
opentelemetry-proto>=1.25.0
protobuf>=6.0,<7.0